@charset 'utf-8';

$rojo-menu: #B82C47;
$turquesa: #46AB9B;

%raleway1 {
    font: {
        family: 'Raleway';
        weight: 400;
    }
}

body {
    padding: {
        top: 10px;
    }
    @extend %raleway1;
    background-color: rgba($turquesa, .4);
    background-image: url("../images/patsc2.png");
    filter: alpha(opacity=40);
}

a {
    transition: .5s;
}

[class^="col-"],
[class*=" col-"] {
    // outline: 1px solid #0f0;
}

.contenedor-logo {
    padding: {
        top: 10px;
        bottom: 10px;
    }
}

.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.nombre-mio {
    @extend %raleway1;
    font: {
        weight: 600;
    }
    text: {
        align: center;
    }
}
.menu {
    text: {
        align: center;
    }
    font: {
        size: 50px;
    }
    .icon-item-menu {
        color: $rojo-menu;
        padding-top: 40px;
        font-size: 20px;
        &:not(:last-child) {
            margin: {
                right: 50px;
            }
        }
        &:hover {
            color: #000;
        }
    }
}
.un-proyecto {
    padding: {
        bottom: 40px;
    }
    text: {
        align: center;
    }
    img {
        opacity: .6;
        transition: .5s;
        &:hover {
            opacity: 1;
        }
    }
}
.footer-principal {
    background: {
        color: #04463b;
    }
    color: #fff;
    text: {
        align: center;
    }
}