@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?k00smf');
	src:url('fonts/icomoon.eot?#iefixk00smf') format('embedded-opentype'),
		url('fonts/icomoon.woff?k00smf') format('woff'),
		url('fonts/icomoon.ttf?k00smf') format('truetype'),
		url('fonts/icomoon.svg?k00smf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/*ESTO LO HICIMOS NOSOTROS*/
	position: relative;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before {
	font-family: 'icomoon';
	position: absolute;
	top: -8px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 50px;
}
.icon-iconocasa:before {
	content: "\e600";
}
.icon-iconomalet:before {
	content: "\e601";
}
.icon-iconobla:before {
	content: "\e602";
}
.icon-iconosobre:before {
	content: "\e603";
}
